<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

    <!--使Spring支持自动检测组件，如注解的@Controller -->
    <context:component-scan base-package="com.allenleung.web"/>
    <!--<context:component-scan base-package="com.allenleung.service"/>-->
    <context:component-scan base-package="com.allenleung.serviceImpl"/>

    <!-- 配置mapper接口 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.allenleung.dao"/>
    </bean>

    <!-- 启动时扫描所有的除controller 以外的包 -->
    <!--<context:component-scan base-package="com.springmvc.web"/>-->

    <!-- 配置properties: jdbc -->
    <!--<context:property-placeholder location="classpath:/prop/jdbc.properties" />-->

    <!--<mvc:annotation-driven/>-->

    <!-- 导入jdbc配置 -->
    <import resource="classpath:/config_bak/jdbc.xml"/>
</beans>